:root {
  --ff: "Open Sans", sans-serif;
  --orange-hover: #f06534;
  --bg-llamada: #001f3d;
}

*,
*::before,
*::after {
  font-family: var(--ff);
}

body {
    min-height: 100vh;
}

.btn-pllamada {
    background-color: var(--bg-llamada);
}

.video-home {
    height: 80vh;
}

.video-home video {
    filter: brightness(0.8);
}


.video-home .container {
    position: absolute;
    top: 57%;
    left: 39%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: start;
}

/* Seccion energias */

.container-energia {
    min-height: 330px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    gap: 1rem;
}

.container-energia p {
    text-align: center;
}

.container-energia p, .container-energia span {
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
}

.energia-1 {
    background-image: url('assets/images/molinos-home.jpg');
    background-position: 0 0;
    background-repeat: repeat;
    background-size: cover;
    background-attachment: fixed;
}

.energia-2 {
    background-image: url('assets/images/nubes-home.jpg');
    background-position: 0 0;
    background-repeat: repeat;
    background-size: cover;
    background-attachment: fixed;
}

.energia-3 {
    background-image: url('/assets/images/molinos-atardecer.jpg');
    background-position: 0 0;
    background-repeat: repeat;
    background-size: cover;
    background-attachment: fixed;
}


/* hover states */

@media (min-width: 992px){
    .navbar-nav li a {
        transition: border-radius 0s;
    }
    
    .navbar-nav li a:hover {
        color: #ffffff;
        border-radius: 8px;
        background-color: var(--orange-hover);
    }
}

.video-home .container a:hover {
    background-color: var(--orange-hover);
}

