:root {
  --ff: "Open Sans", sans-serif;
  --orange-hover: #f06534;
  --bg-llamada: #001f3d;
  --cards-propuesta: #f8f8f8;
}

*,
*::before,
*::after {
  font-family: var(--ff);
}

body {
    min-height: 100vh;
}

.btn-pllamada {
    background-color: var(--bg-llamada);
}

.video-home {
    height: 80vh;
}

.video-home video {
    filter: brightness(0.7);
}


.video-home .container {
    position: absolute;
    top: 57%;
    left: 39%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: start;
}

/* Seccion energias
quita container y container energias para despues colocar el text center junto con el h-100 donde anteriormente
iba el de energias para ahora si hacer d-flex con j-center y agregar por ultimo el padding y los estilos que falten

*/

.energia-1 {
    background-image: url('assets/images/molinos-home.jpg');
    background-position: 0 0;
    background-repeat: repeat;
    background-size: cover;
    background-attachment: fixed;
}

.energia-2 {
    background-image: url('assets/images/nubes-home.jpg');
    background-position: 0 0;
    background-repeat: repeat;
    background-size: cover;
    background-attachment: fixed;
}

.energia-3 {
    background-image: url('/assets/images/molinos-home.jpg');
    background-position: 0 0;
    background-repeat: repeat;
    background-size: cover;
    background-attachment: fixed;
}


/* Propuestas */
.propuestas-container h2{
    color: var(--orange-hover);
}

.propuestas-heading img {
    width: 50px;
    height: 50px;
}

.propuestas article img {
    width: 70px;
    height: 70px;
}

.propuestas > * {
    background-color: var(--cards-propuesta);
}

/* Conocenos */

.conocenos-container {
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://uploads-ssl.webflow.com/6483564a9b35527efcafacd2/6483753faf53a977ac431a28_girasol-min.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.conocenos-container div a:hover {
    background-color: var(--orange-hover);
    color: #ffffff;
}


/* hover states */

@media (min-width: 992px){
    .navbar-nav li a {
        transition: border-radius 0s;
    }
    
    .navbar-nav li a:hover {
        color: #ffffff;
        border-radius: 8px;
        background-color: var(--orange-hover);
    }
}

.video-home .container a:hover {
    background-color: var(--orange-hover);
}

